:root {
	--control-border-radius: .5rem;
	--control-inner-space: .5rem;
	--control-size: 2rem;
}

.app {
}

.app__logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.app__logo {
		animation: app-logo-spin infinite 20s linear;
	}
}

.app__content {
	margin-bottom: 2rem;
	text-align: center;
}

.app__aside {
	display: block;
	border-top: 1px solid #4C4C4C;
}

.btn {
	box-sizing: border-box;
	min-height: var(--control-size);
	min-width: var(--control-size);
	display: inline-block;
	padding: var(--control-inner-space);

	border-radius: var(--control-border-radius);

	background: rebeccapurple;
	color: white;
	text-decoration: none;
}

.btn--stick-left {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.btn:disabled {
	opacity: .6;
}

@keyframes app-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.top-bar {
	background-color: #282c34;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
	font-size: 1rem;
	color: lightgray;
	padding: 1rem;
}

.top-bar__login {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.top-bar__greeting {
	margin: 0 .5rem 0;
}

.comment {
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	padding: .5rem 0;
}

.comment__user-card {
	flex-shrink: 0;
	margin-right: .5rem;

	color: darkblue;

	background: lightgray;
}

.comment__content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-self: stretch;
	justify-content: space-between;
}

.comment__date {
	font-size: .85rem;
	font-style: italic;
	color: dimgray;
}

.user-card {
	overflow: hidden;

	text-align: center;

	border-radius: .5rem;
}

.user-card__name {
	font-size: .9rem;
	margin-bottom: .2rem;
}

.comment-list {
	background: #EEE;
	padding: .5rem;
}

.comment-list__item {
	padding: 1rem 0;
	border-bottom: 1px solid #C4C4C4;
}

.comment-list__item:last-child {
	border-bottom: 0;
}

.form-inline {
	display: flex;
	align-items: baseline;
	justify-content: flex-start;
}

.form-block {
	display: flex;
	align-items: stretch;
	justify-content: stretch;
}

.form-block__input {
	flex-grow: 1;
}

.input {
	box-sizing: border-box;
	height: var(--control-size);
	min-width: var(--control-size);
	padding: var(--control-inner-space);

	background: #4C4C4C;
	color: #EEEEEE;
	border: 1px solid #C4C4C4;
	border-radius: var(--control-border-radius);
}

.input--area {
	min-height: 5rem;
}

.input--stick-right {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: 0;
}

.control-inline__name {
	margin-right: .2rem;
}
